<h2><%= @post.title %></h2>
<p>
  Content: <%= @post.content %>
</p>
Comments:
  <% @post.comments.each do |comment| %>
    <%= link_to comment.user.username, user_path(comment.user) %> said
    <%= comment.content %>
  <% end %>

<% @post.users.each do |user| %>
  <p> Below Users commented on this Post: </p>
  <p><%= user.username %></p>
<% end %>